<header id="header" class="header-scroll top-header headrom">
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="index-2.html"> <h4 style="color:#fff;">Food</h4></a>
      <div class="navbar-toggleable-md  float-lg-right" id="mainNavbarCollapse">
        <ul class="nav navbar-nav">
          <li class="nav-item"> <a class="nav-link active" href="index-2.html">Home <span class="sr-only">(current)</span></a> </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
