<!-- <header id="header" class="header-scroll top-header headrom">
  <nav class="navbar navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="index-2.html">
        <h4 style="color:#fff;">Food</h4>
      </a>
      <div class="navbar-toggleable-md  float-lg-right" id="mainNavbarCollapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a routerLink="" routerLinkActive="active" class="nav-link active" href="javascript:;">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" class="nav-link active" href="javascript:;">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;">Logout
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

<ul>
  <li>
    <a routerLink="" href="javascript:;">Home</a>
  </li>
  <li>
    <a routerLink="/login" href="javascript:;">Login</a>
  </li>
  <li>
    <a href="javascript:;" (click)="logout()">Logout</a>
  </li>
</ul>
