<div class="page-wrapper">
  <!-- top Links -->
  <div class="top-links">
    <div class="container">
      <ul class="row links">
        <li class="col-md-3 link-item">
          <span>1</span>
          <a href="javascript:;">Choose Your Location</a>
        </li>
        <li class="col-md-3 link-item active">
          <span>2</span>
          <a href="javascript:;">Choose Restaurant</a>
        </li>
        <li class=" col-md-3 link-item ">
          <span>3</span>
          <a href="javascript:; ">Pick Your favorite food</a>
        </li>
        <li class="col-md-3 link-item ">
          <span>4</span>
          <a href="javascript:; ">Order and Pay online</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="result-show ">
    <div class="container ">
      <div class="row ">
        <div class="col-sm-3 ">
          <p>
            <span class="primary-color ">
              <strong>{{restaurantSearch | json}}</strong>
            </span> Results so far </p>
        </div>
      </div>
    </div>
  </div>
  <!-- //results show -->
  <section class="restaurants-page ">
    <div class="container ">
      <div class="row ">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12 ">

          <div class="bg-gray restaurant-entry " *ngFor="let restaurantSearch of restaurantsSearch ">
            <div class="row ">
              <div class="col-sm-12 col-md-12 col-lg-8 text-xs-center text-sm-left ">
                <div class="entry-logo ">
                  <a class="img-fluid " href="# ">
                    <img src="https://png.pngtree.com/element_origin_min_pic/16/06/01/12574e63bed187f.jpg " alt="Food logo ">
                  </a>
                </div>
                <!-- end:Logo -->
                <div class="entry-dscr ">
                  <h5>
                    <a href="# ">{{ restaurantSearch.restaurant.name }}</a>
                  </h5>
                  <span>{{ restaurantSearch.restaurant.description }}
                    <a href="# ">...</a>
                  </span>
                  <ul class="list-inline ">
                    <li class="list-inline-item ">
                      <i class="fa fa-check "></i> Min $ {{ restaurantSearch.minPrice }}</li>
                    <li class="list-inline-item ">
                      <i class="fa fa-motorcycle "></i> Rise $ {{ restaurantSearch.risePrice }}
                    </li>
                  </ul>
                </div>
                <!-- end:Entry description -->
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4 text-xs-center ">
                <div class="right-content bg-white ">
                  <div class="right-review ">
                    <div class="rating-block ">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star-o "></i>
                    </div>
                    <p> 245 Reviews</p>
                    <a [routerLink]="[restaurantSearch.restaurant.id]" class="btn theme-btn-dash ">View Menu</a>
                  </div>
                </div>
                <!-- end:right info -->
              </div>
            </div>
            <!--end:row -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end:Footer -->
</div>
